html, body {
  margin: 0;
  font-family: "Source Code Pro", monospace !important;
}
* {
  box-sizing: border-box;
}
#editor.dark {
  background: #343434;
  color: white;
}
#editor {
  font-family: "Source Code Pro", monospace !important;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
  padding: 10px;
  tab-size: 4;
  resize: none !important;
}
.codejar-wrap {
  height: 100%;
}
.editor {
  height: 100%;
}
#console2 {
  font-family: "Source Code Pro", monospace !important;
  overflow-y: scroll;
  max-height: calc(100% - 30px);
}
#console2.dark {
  background-color: #232323;
  color: white;
}
#console.dark {
  background-color: #232323;
}
#console {
  background-color: #ddd;
}
#console2 * {
  padding: 0;
  margin: 0;
}
h4 {
  font-family: "Source Code Pro", monospace !important;
}
.expand {
  height: 100%;
}
button {
  margin: 5px;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  border: none;
  padding: 1.5%;
  padding-bottom: 2%;
  padding-left: 4%;
  padding-right: 4%;
  margin-left: 0;
  margin-right: 0;
  font-size: 20px;
  color: white;
  border-radius: 100px;
}
#modeContainer {
  padding: 2.1%;
  padding-top: 2%;
  padding-left: 0;
  padding-right: 0;
  background: rgba(119, 119, 119, 0.65);
  border-radius: 100px;
  margin-left: 10px;
}
#run {
  font-size: 18px;
}
button.selected {
  background: #33aaff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  margin: 0;
  margin-bottom: 10px;
  padding-top: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.blocklyTreeLabel {
	font-family: "Trebuchet MS", sans-serif !important;
}

.blocklyTreeLabel {
  color: white;
}
.blocklyToolboxContents {
  flex-wrap: nowrap !important;
  padding: .5em;
}
.blocklyTreeRow {
  margin-bottom: .5em;
  border-radius: 7px;
}
.customIcon {
  color: white;
}
.blocklyTreeRowContentContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.blocklyTreeRow {
  height: initial;
  padding-right: 0 !important;
}

.blocklyFlyoutLabelText {
  font: bold 18pt Source Code Pro, "Trebuchet MS", sans-serif !important;
}

.blocklyFlyoutButtonShadow {
  visibility: hidden;
}

.blocklyFlyoutButtonBackground {
  fill: rgba(128, 128, 128, 0.5);
}
