.label {
  font-family: "Source Code Pro", monospace !important;
}
* {
  box-sizing: border-box;
}
#menu.dark {
  background: #232323;
  color: white;
}
#menu {
  background: #bcbcbc;
}
#menu p, #menu span, #menu button, #menu a {
  -webkit-transition: color .5s ease-out;
  -moz-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;
  color: black;
}
#menu.dark p, #menu.dark span, #menu.dark button {
  color: white;
}
.editor {
  height: 100%;
}
#console2 {
  font-family: "Source Code Pro", monospace !important;
  overflow-y: scroll;
  max-height: calc(100% - 30px);
}
#console2.dark {
  background-color: #232323;
  color: white;
}
#console.dark {
  background-color: #232323;
}
#console {
  background-color: #ddd;
}
#console2 * {
  padding: 0;
  margin: 0;
}
h4 {
  font-family: "Source Code Pro", monospace !important;
}
.expand {
  height: 100%;
}
button.mode {
  background: rgba(0, 0, 0, 0);
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 100px;
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 5.75px;
  font-family: "Source Code Pro", monospace !important;
  margin-left: -6.3px;
  outline:none;
}
#modeContainer {
  padding: 7px;
  padding-right: .8px;
  background: rgba(119, 119, 119, 0.65);
  border-radius: 100px;
  margin-left: 10px;
}
button.mode.selected {
  background: #33aaff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  margin: 0;
  margin-bottom: 10px;
  padding-top: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.blocklyTreeLabel {
	font-family: "Trebuchet MS", sans-serif !important;
}

.blocklyTreeLabel {
  color: white;
}
.blocklyToolboxContents {
  flex-wrap: nowrap !important;
  padding: .5em;
}
.blocklyTreeRow {
  margin-bottom: .5em;
  border-radius: 7px;
}
.customIcon {
  color: white;
}
.blocklyTreeRowContentContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.blocklyTreeRow {
  height: initial;
  padding-right: 0 !important;
}

.blocklyFlyoutLabelText {
  font: bold 18pt Source Code Pro, "Trebuchet MS", sans-serif !important;
}

.blocklyFlyoutButtonShadow {
  visibility: hidden;
}

.blocklyFlyoutButtonBackground {
  fill: rgba(128, 128, 128, 0.5);
}

.ace_editor {
  font-family: "Source Code Pro", monospace !important;
}

.ace_tooltip {
  font-family: "Source Code Pro", monospace !important;
  /* background-color: rgba(128, 128, 128, 0.5); */
  border: none;
}

.ace_tooltip b {
  color: gray;
  font-size: 22pt;
}

span[action=openCommandPallete] {
  display: none;
}

.ace_autocomplete .ace_mobile-menu {
  display: none;
}
#menu {
  font-family: "Source Code Pro", monospace !important;
}
.buttom_sheet {
  font-family: "Source Code Pro", monospace !important;
  height: 0;
  width: 100%;
  overflow-x: scroll;
  transition: 0.5s;
  z-index: -10;
  background: white;
  color: black
}

#buttom_sheet_title.dark {
  color: white;
}

.buttom_sheet.dark {
  background-color: #111;
}

.buttom_sheet .closebtn:hover {
  color: #f1f1f1;
}

.buttom_sheet .closebtn {
  color: #818181;
  display: block;
  transition: 0.3s;
  padding-left: 10px;
  font-size: 42px;
}
.menuitem {
  text-align: center;
  width: 50px;
  max-width: 60px;
  margin: 0;
  padding: 0;
  height: 50px;
  overflow: hidden;
  font-size: 14px;
  float: left;
}
.blocklyMainBackground {
  stroke: transparent;
}
.layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 2.5%;
}
@media only screen and (max-width: 1000px) {
  .layout {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 2.5%;
  }
}
@media only screen and (max-width: 750px) {
  .layout {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 2.5%;
  }
  .child span {
    font-size: 80pt !important;
    padding-top: 50px;
  }
  .child.action span {
    font-size: 80pt !important;
    padding-top: 40px;
    padding-bottom: 10px;
  }
}
.layout[hidden] {
  display: none;
}
#paste_button[hidden] {
  display: none;
}
div.child {
  font-family: "Source Code Pro", monospace !important;
  background: rgba(180, 180, 180, 0.6);
  text-align: center;
  user-select: none;
  color: #33aaff;
  height: 250px;
  margin-bottom: 10px;
  margin-top: -171px;
  overflow: hidden;
}
div.child.action {
  margin-top: 0;
  background-color: #33aaff;
  color: rgba(210, 210, 210);
}
a.file {
  transition: all 0.1s;
  user-select: none;
}
a.file:hover {
  transform: scale(1.07);
}
div.child p {
  margin: 15px;
  font-size: 24pt;
  padding-bottom: 20px;
  color: black;
  margin-top: 0;
  overflow: visible;
  user-select: none;
}
.child span {
  font-size: 113pt;
  padding-bottom: 10px;
}
.child.action span {
  font-size: 113pt;
  margin-top: 0;
}
.layout a {
  color: black;
  text-decoration: none;
}
#menu a {
  color: inherit;
  text-decoration: none;
}
.file_action {
  font-size: 40pt !important;
  color: #33aaff;
  transition: color .3s;
}
@media only screen and (max-width: 400px) {
  .child span {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
  }
  .child.action span {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .file_action {
    font-size: 35pt !important;
  }
  .file_action_a {
    bottom: 23px;
  }
  div.child {
    margin-bottom: 40px;
  }
  div.child.action {
    margin-top: -21px;
  }
  #filepath {
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 360px) {
  .child span {
    font-size: 55pt !important;
    padding-top: 40px;
  }
  .child.action span {
    font-size: 55pt !important;
    padding-top: 40px;
  }
  .file_action {
    font-size: 30pt !important;
  }
  .file_action_a {
    bottom: 30px;
  }
  div.child {
    margin-bottom: 35px;
  }
  div.child.action {
    margin-top: -39px;
  }
  #filepath {
    padding-bottom: 20px;
  }
}
.file_action:hover {
  color: #e33;
}
.file_action.top_bar_action {
  float: left;
  padding: 10px;
  padding-top: 0;
  user-select: none;
}
#grid {
  margin: 10px;
}
.home_btn {
  font-size: 42px !important;
  position: relative;
  top: 15px;
  margin-top: -11px;
  padding: 0;
  background: transparent;
  border: none;
  outline:none;
}
#filepath {
  margin: 10px;
  font-size: 32pt;
  margin-bottom: 30px;
  font-family: "Source Code Pro", monospace;
}
