.ace_scrollbar {
	overflow: hidden;
}

.ace_scroll-v {
	z-index: 1000;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 12px;
	width: 12px;
	background: whitesmoke
}

.ace_thumb-v {
	background: gainsboro;
}

.ace_scroll-h {
	z-index: 1000;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 12px;
	background: whitesmoke
}

.ace_thumb-h {
	background: gainsboro
}

.ace_map-row {
	z-index: 1001;
	position: absolute;
	pointer-events: none;
	top: 0;
	right: 0;
	width: 12px;
	height: 4px;
	background: grey;
}

.ace_map-item {
	z-index: 1002;
	position: absolute;
	pointer-events: none;
	right: 4px;
	width: 4px;
	height: 4px;
	background: cornflowerblue
}